@import "tailwindcss";

:root {
    --bg-editor: var(--vscode-editor-background);
    --fg-editor: var(--vscode-editor-foreground);
}

/* Chrome / Edge / Safari */
textarea::-webkit-scrollbar {
    display: none;
}

/* Firefox */
textarea {
    scrollbar-width: none;
}